.col-md-6
  %h1 New Issue Ticket
  = simple_form_for @ticket do |f|
    .form-group
      = f.input :customer_name
      = f.input :customer_email
      = f.input :subject
      = f.simple_fields_for :message { |message| message.input :body, as: :text }
      = f.button :submit, class: 'btn btn-default'

